NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

DATABASE_HOST=
DATABASE_USER=
DATABASE_PASS=
DATABASE_PORT=
DATABASE_TYPE=

DATABASE_URL=

NEXT_PUBLIC_SUI_NETWORK=

MASTER_KEY=

NEXT_PUBLIC_ENOKI_PUBLIC_KEY=
ENOKI_PRIVATE_KEY=

NEXT_PUBLIC_GOOGLE_CLIENT_ID=

GROQ_API_KEY_BANKING=
GROQ_API_KEY_HEALTHCARE=
GROQ_API_KEY_GOVERNMENT=
GROQ_API_KEY_INSURANCE=

DEMO_API_KEY=
DEMO_PUBLIC_KEY=
DEMO_PRIVATE_KEY=

SEAL_KEY_SERVER_1_ID=
SEAL_KEY_SERVER_2_ID=

DEDICATED_WALLET_PRIVATE_KEY=

NEXT_PUBLIC_SUI_PACKAGE_ID=
NEXT_PUBLIC_SUI_LEGAL_REGISTRY_ID=